<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.peanut.mapper.GameMapper" >
  <resultMap id="BaseResultMap" type="cn.peanut.bean.po.Game" >
    <id column="game_id" property="gameId" jdbcType="INTEGER" />
    <result column="game_name" property="gameName" jdbcType="VARCHAR" />
    <result column="game_title" property="gameTitle" jdbcType="VARCHAR" />
    <result column="game_download" property="gameDownload" jdbcType="INTEGER" />
    <result column="game_size" property="gameSize" jdbcType="INTEGER" />
    <result column="game_status" property="gameStatus" jdbcType="TINYINT" />
    <result column="game_type" property="gameType" jdbcType="TINYINT" />
    <result column="game_operation" property="gameOperation" jdbcType="TINYINT" />
    <result column="game_advise_type" property="gameAdviseType" jdbcType="TINYINT" />
    <result column="game_icon" property="gameIcon" jdbcType="VARCHAR" />
    <result column="game_pic" property="gamePic" jdbcType="VARCHAR" />
    <result column="game_iosAddress" property="gameIosaddress" jdbcType="VARCHAR" />
    <result column="game_androidAddress" property="gameAndroidaddress" jdbcType="VARCHAR" />
    <result column="game_description" property="gameDescription" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    game_id, game_name, game_title, game_download, game_size, game_status, game_type, 
    game_operation, game_advise_type, game_icon, game_pic, game_iosAddress, game_androidAddress, 
    game_description
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.peanut.bean.po.GameExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from game
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from game
    where game_id = #{gameId,jdbcType=INTEGER}
  </select>
  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from game
    where game_name = #{gameName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from game
    where game_id = #{gameId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.peanut.bean.po.GameExample" >
    delete from game
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.peanut.bean.po.Game" >
    insert into game (game_id, game_name, game_title, 
      game_download, game_size, game_status, 
      game_type, game_operation, game_advise_type, 
      game_icon, game_pic, game_iosAddress, 
      game_androidAddress, game_description)
    values (#{gameId,jdbcType=INTEGER}, #{gameName,jdbcType=VARCHAR}, #{gameTitle,jdbcType=VARCHAR}, 
      #{gameDownload,jdbcType=INTEGER}, #{gameSize,jdbcType=INTEGER}, #{gameStatus,jdbcType=TINYINT}, 
      #{gameType,jdbcType=TINYINT}, #{gameOperation,jdbcType=TINYINT}, #{gameAdviseType,jdbcType=TINYINT}, 
      #{gameIcon,jdbcType=VARCHAR}, #{gamePic,jdbcType=VARCHAR}, #{gameIosaddress,jdbcType=VARCHAR}, 
      #{gameAndroidaddress,jdbcType=VARCHAR}, #{gameDescription,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.peanut.bean.po.Game" >
    insert into game
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gameId != null" >
        game_id,
      </if>
      <if test="gameName != null" >
        game_name,
      </if>
      <if test="gameTitle != null" >
        game_title,
      </if>
      <if test="gameDownload != null" >
        game_download,
      </if>
      <if test="gameSize != null" >
        game_size,
      </if>
      <if test="gameStatus != null" >
        game_status,
      </if>
      <if test="gameType != null" >
        game_type,
      </if>
      <if test="gameOperation != null" >
        game_operation,
      </if>
      <if test="gameAdviseType != null" >
        game_advise_type,
      </if>
      <if test="gameIcon != null" >
        game_icon,
      </if>
      <if test="gamePic != null" >
        game_pic,
      </if>
      <if test="gameIosaddress != null" >
        game_iosAddress,
      </if>
      <if test="gameAndroidaddress != null" >
        game_androidAddress,
      </if>
      <if test="gameDescription != null" >
        game_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gameId != null" >
        #{gameId,jdbcType=INTEGER},
      </if>
      <if test="gameName != null" >
        #{gameName,jdbcType=VARCHAR},
      </if>
      <if test="gameTitle != null" >
        #{gameTitle,jdbcType=VARCHAR},
      </if>
      <if test="gameDownload != null" >
        #{gameDownload,jdbcType=INTEGER},
      </if>
      <if test="gameSize != null" >
        #{gameSize,jdbcType=INTEGER},
      </if>
      <if test="gameStatus != null" >
        #{gameStatus,jdbcType=TINYINT},
      </if>
      <if test="gameType != null" >
        #{gameType,jdbcType=TINYINT},
      </if>
      <if test="gameOperation != null" >
        #{gameOperation,jdbcType=TINYINT},
      </if>
      <if test="gameAdviseType != null" >
        #{gameAdviseType,jdbcType=TINYINT},
      </if>
      <if test="gameIcon != null" >
        #{gameIcon,jdbcType=VARCHAR},
      </if>
      <if test="gamePic != null" >
        #{gamePic,jdbcType=VARCHAR},
      </if>
      <if test="gameIosaddress != null" >
        #{gameIosaddress,jdbcType=VARCHAR},
      </if>
      <if test="gameAndroidaddress != null" >
        #{gameAndroidaddress,jdbcType=VARCHAR},
      </if>
      <if test="gameDescription != null" >
        #{gameDescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.peanut.bean.po.GameExample" resultType="java.lang.Integer" >
    select count(*) from game
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update game
    <set >
      <if test="record.gameId != null" >
        game_id = #{record.gameId,jdbcType=INTEGER},
      </if>
      <if test="record.gameName != null" >
        game_name = #{record.gameName,jdbcType=VARCHAR},
      </if>
      <if test="record.gameTitle != null" >
        game_title = #{record.gameTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.gameDownload != null" >
        game_download = #{record.gameDownload,jdbcType=INTEGER},
      </if>
      <if test="record.gameSize != null" >
        game_size = #{record.gameSize,jdbcType=INTEGER},
      </if>
      <if test="record.gameStatus != null" >
        game_status = #{record.gameStatus,jdbcType=TINYINT},
      </if>
      <if test="record.gameType != null" >
        game_type = #{record.gameType,jdbcType=TINYINT},
      </if>
      <if test="record.gameOperation != null" >
        game_operation = #{record.gameOperation,jdbcType=TINYINT},
      </if>
      <if test="record.gameAdviseType != null" >
        game_advise_type = #{record.gameAdviseType,jdbcType=TINYINT},
      </if>
      <if test="record.gameIcon != null" >
        game_icon = #{record.gameIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.gamePic != null" >
        game_pic = #{record.gamePic,jdbcType=VARCHAR},
      </if>
      <if test="record.gameIosaddress != null" >
        game_iosAddress = #{record.gameIosaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.gameAndroidaddress != null" >
        game_androidAddress = #{record.gameAndroidaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.gameDescription != null" >
        game_description = #{record.gameDescription,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update game
    set game_id = #{record.gameId,jdbcType=INTEGER},
      game_name = #{record.gameName,jdbcType=VARCHAR},
      game_title = #{record.gameTitle,jdbcType=VARCHAR},
      game_download = #{record.gameDownload,jdbcType=INTEGER},
      game_size = #{record.gameSize,jdbcType=INTEGER},
      game_status = #{record.gameStatus,jdbcType=TINYINT},
      game_type = #{record.gameType,jdbcType=TINYINT},
      game_operation = #{record.gameOperation,jdbcType=TINYINT},
      game_advise_type = #{record.gameAdviseType,jdbcType=TINYINT},
      game_icon = #{record.gameIcon,jdbcType=VARCHAR},
      game_pic = #{record.gamePic,jdbcType=VARCHAR},
      game_iosAddress = #{record.gameIosaddress,jdbcType=VARCHAR},
      game_androidAddress = #{record.gameAndroidaddress,jdbcType=VARCHAR},
      game_description = #{record.gameDescription,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.peanut.bean.po.Game" >
    update game
    <set >
      <if test="gameName != null and gameName !=''" >
        game_name = #{gameName,jdbcType=VARCHAR},
      </if>
      <if test="gameTitle != null and gameTitle !=''" >
        game_title = #{gameTitle,jdbcType=VARCHAR},
      </if>
      <if test="gameDownload != null" >
        game_download = #{gameDownload,jdbcType=INTEGER},
      </if>
      <if test="gameSize != null" >
        game_size = #{gameSize,jdbcType=INTEGER},
      </if>
      <if test="gameStatus != null" >
        game_status = #{gameStatus,jdbcType=TINYINT},
      </if>
      <if test="gameType != null" >
        game_type = #{gameType,jdbcType=TINYINT},
      </if>
      <if test="gameOperation != null" >
        game_operation = #{gameOperation,jdbcType=TINYINT},
      </if>
      <if test="gameAdviseType != null" >
        game_advise_type = #{gameAdviseType,jdbcType=TINYINT},
      </if>
      <if test="gameIcon != null and gameIcon !=''" >
        game_icon = #{gameIcon,jdbcType=VARCHAR},
      </if>
      <if test="gamePic != null and gamePic !=''" >
        game_pic = #{gamePic,jdbcType=VARCHAR},
      </if>
      <if test="gameIosaddress != null and gameIosaddress !=''" >
        game_iosAddress = #{gameIosaddress,jdbcType=VARCHAR},
      </if>
      <if test="gameAndroidaddress != null and gameAndroidaddress !=''" >
        game_androidAddress = #{gameAndroidaddress,jdbcType=VARCHAR},
      </if>
      <if test="gameDescription != null and gameDescription !=''" >
        game_description = #{gameDescription,jdbcType=VARCHAR},
      </if>
    </set>
    where game_id = #{gameId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.peanut.bean.po.Game" >
    update game
    set game_name = #{gameName,jdbcType=VARCHAR},
      game_title = #{gameTitle,jdbcType=VARCHAR},
      game_download = #{gameDownload,jdbcType=INTEGER},
      game_size = #{gameSize,jdbcType=INTEGER},
      game_status = #{gameStatus,jdbcType=TINYINT},
      game_type = #{gameType,jdbcType=TINYINT},
      game_operation = #{gameOperation,jdbcType=TINYINT},
      game_advise_type = #{gameAdviseType,jdbcType=TINYINT},
      game_icon = #{gameIcon,jdbcType=VARCHAR},
      game_pic = #{gamePic,jdbcType=VARCHAR},
      game_iosAddress = #{gameIosaddress,jdbcType=VARCHAR},
      game_androidAddress = #{gameAndroidaddress,jdbcType=VARCHAR},
      game_description = #{gameDescription,jdbcType=VARCHAR}
    where game_id = #{gameId,jdbcType=INTEGER}
  </update>
</mapper>